.hero-container{
    height:100vh;
    font-family:'runda'
}
.bg-shadow{
    background-image: radial-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.7));
    z-index:2
}
.hero img{
    object-fit:cover;
    height:100%
}
a.hero-btn{
    background-color:#fff;
    color:#222;
    border-radius:30px;
    text-decoration: none;
    max-width:100%;
    padding: 10px auto;
    @media only screen and (min-width:768px){
        opacity:.9;
        &:hover{
            opacity:1
        }
    }
}
.text{
    position:relative;
    top:80px;
    z-index:2;
}
ul{
    list-style: none;
    padding:0px
}
.nav-link:hover{
    opacity:.8;
    cursor:pointer
}
