<header role="banner">
    <nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'bg-black': route != '/home'}">
        <div class="container-fluid mx-md-3">
            <a class="sdm" href="index.html"><img class="img-fluid" src="../../../assets/images/graphic/logo_sdm.png"></a>
            <button (click)="show = !show" type="button" class="toggle-btn text-light">
                <span class="toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample05" [class.show]="show" [@toggle]>
            <ul class="navbar-nav pl-md-5 ml-auto">
                <li class="nav-item mx-1">
                    <a class="nav-link active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item mx-1 dropdown">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Servizi
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" routerLink="/produzioni" >Mixing/Mastering</a></li>
                          <li><a class="dropdown-item" routerLink="/gallery" >Gallery</a></li>
                          <li><a class="dropdown-item" href="#">Sala Prove</a></li>
                        </ul>
                      </div>
                </li>
                <li class="nav-item mx-1">
                <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
            </div>
        </div>
</div>
</nav>
</header>